<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
    <form method="post" action="/login">
        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" placeholder="이메일" name="email"/>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" placeholder="비밀번호" name="password"/>
        </div>
        <p><input type=submit value=Login></p>
    </form>

    <a href="/signup">가입하기</a>
</body>
</html>